In [2]:
# Exercise 1: Print First 10 natural numbers using while loop

i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [17]:
# Exercise 2: Print the following pattern

row = 5
for i in range(1, row+1, 1):

    for j in range(1, i+1):
        print(j, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
# Exercise 3: Calculate the sum of all numbers from 1 to a given number

x = int(input("Enter number: "))
print("Entered number is:", x)

s=0
for i in range(1, x+1, 1):
    s += i
print("Sum is: ", s)

Entered number is: 21
Sum is:  231

In [24]:
# Exercise 4: Write a program to print multiplication table of a given number

n = 2

for i in range(1, 11, 1):
    m = n*i
    print(m)

2
4
6
8
10
12
14
16
18
20

In [32]:
# Exercise 5: Display numbers from a list using loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break

    elif i > 150:
        continue

    elif i % 5 == 0:
        print(i)

75
150
145

In [33]:
# Exercise 6: Count the total number of digits in a number
n = 679486802
counter = 0

while n != 0:
    n = n // 10
    counter = counter + 1
print("number if digit is :", counter)

number if digit is : 9

In [57]:
# Exercise 7: Print the following pattern

x = 5
y = 5
for i in range(0, x+1):
    for j in range(y-i, 0, -1):

        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [12]:
# Exercise 8: Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]

length = len(list1) - 1
for i in range(length, -1, -1):
    print(list1[i])

50
40
30
20
10

In [13]:
# Exercise 9: print the element according to their types in the different lists

list1 = [1.2, 2.0, 3.5, "hey", "hello", "apple", 12, 13, 14, 3+2j, 4+5j, 7+5j]

int1=[]
str1=[]
float1=[]
cn1=[]

for i in list1:
    if isinstance(i, int):
        int1.append(i)
    elif isinstance(i, str):
        str1.append(i)
    elif type(i)==float:
        float1.append(i)
    elif type(i)==complex:
        cn1.append(i)

print("Integer number is:", int1)
print("String type of value is:", str1)
print("float number is:", float1)
print("Complex number is:", cn1)

Integer number is: [12, 13, 14]
String type of value is: ['hey', 'hello', 'apple']
float number is: [1.2, 2.0, 3.5]
Complex number is: [(3+2j), (4+5j), (7+5j)]

In [87]:
# Exercise 10: Print the following pattern

row = 5
for i in range(1, row+1, 1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [109]:
# Exercise 11: Display numbers from -10 to -1 using for loop

i= 0
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [4]:
# Exercise 12: Use else block to display a message “Done” after successful execution of for loop

i=0

for i in range(5):
    print(i)

else:
    print("Done")

0
1
2
3
4
Done

In [15]:
# Exercise 13: Write a program to display all prime numbers within a range

start = 25
end = 50

print("prime number between" ,start, "and" ,end, "are: ")

for i in range(start, end+1):
    if i>1:
        for j in range(2, i):
            if (i % j) == 0:
                break
        else:
            print(i)

prime number between 25 and 50 are:
29
31
37
41
43
47

In [28]:
# Exercise 14: Display Fibonacci series up to 10 terms

n1=0
n2=1

for i in range(10):

    print(n1)
    # print()

    result = n1 + n2
    n1 = n2
    n2 = result

0
1
1
2
3
5
8
13
21
34

In [33]:
# Exercise 15: Find the factorial of a given number

n = 5
factorial = 1

for i in range (1, n+1):
    factorial = factorial * i

print("the factorial of", n, "is", factorial)

the factorial of 5 is 120

In [4]:
# Exercise 16: Reverse a given integer number

n1 = 76542
# n2 = str(n1)
# print(n2)
reverse_number = 0
print("Given integer number is: ", n1)

while n1>0:
    remainder = n1 % 10
    reverse_number = (reverse_number * 10) + remainder
    n1 = n1 // 10
print("Reverse Number :", reverse_number)

Given integer number is:  76542
Reverse Number : 24567

In [44]:
# Exercise 17: Use a loop to display elements from a given list present at odd index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i, end = " ")

20 40 60 80 100

In [49]:
# Exercise 18: Calculate the cube of all numbers from 1 to a given number

input1 = 6

for i in range(1, input1+1):
    c = i*i*i
    print("the cube of number", i, "is", c)

the cube of number 1 is 1
the cube of number 2 is 8
the cube of number 3 is 27
the cube of number 4 is 64
the cube of number 5 is 125
the cube of number 6 is 216

In [53]:
# Exercise 19: Find the sum of the series upto n terms

n = 5

start = 2
seq = 0

for i in range(0, n):
    print(start, end="+")

    seq += start
    start = start*10+2

print("\nthe sum of the series up to", n , "terms is:" ,seq)

2+22+222+2222+22222+
the sum of the series up to 5 terms is: 24690

In [63]:
# Exercise 20: Print the following pattern

rows = 5

for i in range(0, rows):
    for j in range(0, i+1):
        print("*", end=" ")
    print()

for i in range(rows, 0, -1):
    for j in range(0, i-1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
list1 = [1,2,3,4,5]
for i in list1.copy():
    list1.remove(i)

print(list1)

[]

In [70]:
list1 = [1,2,3,4,5]

for i in list1:

    print(i*2)

2
4
6
8
10

In [72]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
def pattern(n):

    for i in range(1, n, 1):
        for j in range(1, i+1):
            print("*", end=" ")
        print()

    for i in range(n-1, 0, -1):
        for j in range(0, i-1):
            print("*", end=" ")
        print()

pattern(5)

pattern(4)

*
* *
* * *
* * * *
* * *
* *
*

*
* *
* * *
* *
*

In [120]:
x="nishil"
y = x[::-1]
x,y

('nishil', 'lihsin')

In [124]:
l1=[1,2,3,4,6]
l2=l1.copy()
l2

[1, 2, 3, 4, 6]

In [135]:
dict1 = {"a":1,
         "b":2, 
         "c": {
             "d":3,
             "e":4,
             "f":5
         }}

d = dict1["c"]["d"]
d

3

In [9]:
l1= [1,2,3,4,5,2,6,7,8,3,4,5]
l1.sort()
print(l1)

for i in l1:
    if(i==(i+1)):
        l1.remove(i)
        l1.remove(i+1)
    
        print(l1)

[1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8]

In [58]:
# inheritance example

class parent:

    def property(self, land):
        self.land = land
        print("total land is:", land)
        return land

class child(parent):

    def car(self, name):
        self.name = name
        print("the car is:", name)

access = child()
print(access.car("bmw"))

print(access.property("40 acres"))

the car is: bmw
None
total land is: 40 acres
40 acres

In [1]:
# Develop a game named as stone, paper, scissor
import random

x = int(input("Enter your choice number 1 for stone, 2 for paper and 3 for scissors."))   

def game(x):
    if x not in range(1,4):
        print("please enter valid input number from 1 to 3!")
        return
        
    y = random.randint(1,3)

    print("your choice is:", x)
    print("System choice is:", y)

    if x == y:
        print("Match tie!")

    elif (x == 1 and y == 3) or (x == 2 and y == 1) or (x == 3 and y == 2):
        print("You win!") 

    else:
        print("System Win!")

game(x)

your choice is: 3
System choice is: 1
System Win!