In [3]:
# Illustration of a User-Defined Function

def square(n):
    return n**2
h1 = square(9)
print("the square of given number is:", h1)

the square of given number is: 81

In [4]:
# Calling a Function

def fun1(string):

    return len(string)
print("length of the string is:", fun1("nishil"))

length of the string is: 6

In [5]:
# Pass by Reference vs. Pass by Value

def square(list1):
    square1= []
    for i in list1:
        square1.append(i**2)
    return square1
    
list2 = [16,17,18]
result = square(list2)
print("Square of the above list are: ", result)

Square of the above list are:  [256, 289, 324]

In [1]:
def reverse(m):
    z = m[::-1]
    print(m, z)

x=str(input("Enter string:" ))

reverse(x)

nishil lihsin

In [3]:
def remove_a(a):

# list1 = [1,2,3,4,5]
    for i in a.copy():
        a.remove(i)

    print(a)

l1= [10,20,30]
l2=[40,50,60]
remove_a(l1)
remove_a(l2)

[]
[]

In [13]:
def gmeanCalculation(a, b):

    mean = (a*b)/(a+b)
    print(mean)

def findGreater(a, b):
    if a>b:
        print("first is greater.")
    else:
        print("second is greater of equal.")

a=18
b=3
gmeanCalculation(a,b)
findGreater(a,b)

c=34
d=23
gmeanCalculation(c,d)
findGreater(c,d)

2.5714285714285716
first is greater.
13.719298245614034
first is greater.

In [18]:
def name(fname, lname):
    print("hello," ,fname, lname)

name("nishil", "tejani")

hello, nishil tejani

In [21]:
def average(a=9, b=10):
    print("Average of the number is:",  (a+b)/2)

average(10, 30) # it takes these argument instead of passed on the parameter so, it's called default arguments

Average of the number is: 20.0

In [24]:
def average(a, b):
    print("Average of the number is:",  (a+b)/2)
 
average(b=10, a=30) #it takes argument with key=value pairs

Average of the number is: 20.0

In [6]:
def average(a, b=78):
    print("Average of the number is:",  (a+b)/2)
 
average(a=30) #we need to pass the argument of "a" only in this case

Average of the number is: 54.0

In [33]:
def average(*numbers):
    print(type(numbers))

    sum = 0
    for i in numbers:
        sum = sum+i
    print("average of numbers is:", sum/len(numbers))  #variable length argument

average(5,3,2)

<class 'tuple'>
average of numbers is: 3.3333333333333335

In [36]:
# Keyword arbitrary arguments

def name(**name):

    print(type(name))
    print("Hello,", name["fname"], name["mname"]
          , name["lname"])
    
name(mname = "nishil", lname= "lavjibhai", fname = "tejani")

<class 'dict'>
Hello, tejani nishil lavjibhai

In [38]:
# return statement

def average(*numbers):
    print(type(numbers))

    sum = 0
    for i in numbers:
        sum = sum+i
    return sum/len(numbers)

c = average(5,3,2,7,8)
print(c)

<class 'tuple'>
5.0

In [42]:
x=4
print(x)

def hey():
    x=5
    print(f"the local x is {x}")
    print("hello, Nishil")

print(f"the global x is {x}")

hey()
# x=5
print(f"the global x is {x}")

4
the global x is 4
the local x is 5
hello, Nishil
the global x is 4

In [45]:
x = 67  #global variable

def my_fun():
    global x   #this will change the value of the global variable x
    x=56
    y=89   # local variable
    print(y)

my_fun()
print(x)

89
56

In [70]:
# built-in functions in python

x= abs(-7.09)
x

7.09

In [68]:
myList = [1,2,-3,2,1,-7]
print(myList)
myNewList = [abs(i) for i in myList]
myNewList

[1, 2, -3, 2, 1, -7]

[1, 2, 3, 2, 1, 7]

In [71]:
all(5)

TypeError: 'int' object is not iterable

In [72]:
all("hey")

True

In [73]:
all("")

True

In [74]:
all([False, 0, 1])  #if one iterable elemnet is false than it gives false

False

In [75]:
all([True, 3,4])

True

In [76]:
any([""])

False

In [77]:
any([False, 0])

False

In [78]:
any([False, 0, 1])  #if one iterable element is true than it gives true

True

In [79]:
value1 = ["hey", "hello", "what"]
any([x == "hey" for x in value1])

True

In [81]:
ascii(1)

'1'

In [82]:
ascii("hey")

"'hey'"

In [83]:
bin(3)

'0b11'

In [84]:
bin(10)

'0b1010'

In [85]:
bin("hey")

TypeError: 'str' object cannot be interpreted as an integer

In [86]:
bin(4.0)

TypeError: 'float' object cannot be interpreted as an integer

In [87]:
bin([4,5])

TypeError: 'list' object cannot be interpreted as an integer

In [88]:
bin(0x4)

'0b100'

In [89]:
bytes(1)

b'\x00'

In [90]:
bytes([1,3,5,3])

b'\x01\x03\x05\x03'

In [92]:
x = bytearray([1,2,3,4])
x

bytearray(b'\x01\x02\x03\x04')

In [94]:
x.append(4)
x

bytearray(b'\x01\x02\x03\x04\x04\x04')

In [95]:
bytearray("hey", "UTF-8")

bytearray(b'hey')

In [96]:
callable("hey")

False

In [97]:
callable(type("hey"))

True

In [98]:
chr(0)

'\x00'

In [100]:
chr(1114111)

'\U0010ffff'

In [101]:
chr(1114112)

ValueError: chr() arg not in range(0x110000)

In [102]:
complex(1)

(1+0j)

In [103]:
dir()

['In',
 'Out',
 '_',
 '_100',
 '_102',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_81',
 '_82',
 '_83',
 '_84',
 '_88',
 '_89',
 '_90',
 '_91',
 '_92',
 '_94',
 '_95',
 '_96',
 '_97',
 '_98',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'average',
 'b',
 'c',
 'd',
 'exit',
 'findGreater',
 'fun1',
 'get_ipython',
 'gmeanCalculation',
 'h1',
 'hey',
 'l1',
 'l2',
 'list2',
 'myList',
 'myNewList',
 'my_fun',
 'name',
 'num',
 'num1',
 'num2',
 'open',
 'quit',
 'remove_a',
 'result',
 'rever',
 'square',
 'value1',
 'x']

In [104]:
divmod(10,5)

(2, 0)

In [105]:
countries = ["canada", "USA", "australia"]
countries

['canada', 'USA', 'australia']

In [106]:
list(enumerate(countries))

[(0, 'canada'), (1, 'USA'), (2, 'australia')]

In [107]:
dict(enumerate(countries))

{0: 'canada', 1: 'USA', 2: 'australia'}

In [113]:
for i, j in enumerate(["canada", "USA", "australia"], 600):
    print(i, j)

600 canada
601 USA
602 australia

In [114]:
eval("1")

1

In [115]:
eval("-5+1")

-4

In [116]:
eval(1)

TypeError: eval() arg 1 must be a string, bytes or code object

In [119]:
eval("abs(-1)")

1

In [120]:
exec("print(max(10,25,1))")

25

In [125]:
ages = [18,0,0,35,76,15,16]

def myFunc(x):
    return x>=18

print(list(filter(myFunc, ages)))

[18, 35, 76]

In [127]:
a=frozenset()
a

frozenset()

In [133]:
a=frozenset({1,2,3})
a

frozenset({1, 2, 3})

In [130]:
a=frozenset("hey")
a

frozenset({'e', 'h', 'y'})

In [134]:
a=frozenset({1,2,3})
a.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [136]:
hash(6)

6

In [138]:
hash(9.0)

9

In [140]:
hash("6")

1780450542758486571

In [141]:
iter("hey")  #same as list, set iterator object

In [149]:
a= iter(["her", "him", "they", 100, 122])
a

In [150]:
next(a)

'her'

In [151]:
next(a)

'him'

In [152]:
next(a)

'they'

In [153]:
next(a)

100

In [154]:
next(a)

122

In [155]:
next(a)

StopIteration:

In [156]:
def toUpper(s):
    print("s", s)
    return s.upper()

map_iterator = map(toUpper, "nishil")
print(list(map_iterator))

s n
s i
s s
s h
s i
s l
['N', 'I', 'S', 'H', 'I', 'L']

In [1]:
def myfun1(name, age):
    print(name,age)

myfun1("nishil", 21)

nishil 21

In [3]:
def myfun2(*num):
    for i in num:
        print("the number is: ", i)

myfun2(10,12,13)

myfun2(2637,35)

the number is:  10
the number is:  12
the number is:  13
the number is:  2637
the number is:  35

In [7]:
def calculation(a, b):
    addition = a+b
    substraction = a-b
    print("addition and substraction is:", a+b, a-b)

res = calculation(40, 10)

addition and substraction is: 50 30

In [8]:
def myfun3(name, salary=9000):
    print("Name:", name, "salary:", salary)

myfun3("Ben", 12000)
myfun3("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

In [10]:
def outerFun1(a, b):

    print("this is an outer function")

    def innerFun1(a, b):
        return a+b
    add = innerFun1(a, b)
    return add + 5
    
res = outerFun1(4,3)
print(res)

this is an outer function
12

In [11]:
def myfunc4(num):

    if num:
        return num + myfunc4(num-1)
    else:
        return 0
    
result = myfunc4(10)
print(result)

55

In [40]:
x = [4,6,8,24,12,2]
print(max(x))  #in-built function

24

In [1]:
# FIBONACCI SERIES BY GETTING RANGE FROM USER

def myfunc5():

    x= int(input("enter the number:"))
    n1 = 0
    n2 = 1
    for i in range(x):

        print(n1)
        result = n1+n2
        n1 = n2
        n2 = result
    
myfunc5()

0
1
1
2
3
5
8
13
21
34
55

In [8]:
def func1():

    try:
        l = [1,2,3,4]
        i = int(input("Enter the number:"))
        print("entered number is:", i)
        print("indexed element is:", l[i])
        return 1
    except:
        print("some error occured")
        return 0
    finally:
        print("i am always executed")
    # print("i am always executed")

x = func1()
print(x)

entered number is: 1
indexed element is: 2
i am always executed
1