In [1]:
print("hello")

hello

In [2]:
l=[1, 2, "anish", 3+2j]
l[2] = "nishil"
print(l)

[1, 2, 'nishil', (3+2j)]

In [20]:
l=[1, 2, "anish", 3+2j]
print(l[-1::-1])

[(3+2j), 'anish', 2, 1]

In [22]:
list = ["a", "b", "c"]
i = 0
while i < len(list):
  print(list[i])
  i = i + 1

a
b
c

In [23]:
list = ["a", "b", "c"]
for i in range(len(list)):
  print(list[i])

a
b
c

In [27]:
list = ["a", "b", "c"]
[print(x) for x in list]

a
b
c

[None, None, None]

In [28]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [29]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [30]:
x = {1, 2, 3, 4, 4}
y = {"a", 1, "b", 2, "c"}

x.intersection_update(y)

print(x)

{1, 2}

In [34]:
list= [1, 2,"a", 3, 4]
list[2] = "Nishil"
list

[1, 2, 'Nishil', 3, 4]

In [53]:
list = [1, 2, 3, [4, 5, 6], 7, 8, 9, [10,[66,89,90], 11, 12]]
list[7][1][1]

89

In [62]:
list1 = [1, 3, 3, 4]
list2 = list1.copy()
list2

[1, 3, 3, 4]

In [66]:
points = [1, 4, 2, 9, [4, 5, 6], 7, 8, 9, 3, 1]
points[4][0]

4

In [67]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
print(x)

2

In [82]:
list = ['apple', 'banana', 'cherry']
list.index("cherry")

2

In [87]:
list = ['apple', 'banana', 'cherry']

list.extend((42, 211, "hey")) 

print(list)

['apple', 'banana', 'cherry', 42, 211, 'hey']

In [94]:
list = ["hello", 1, 2, 3, 4, 5]
list.insert(-3, "hey")
list

['hello', 1, 2, 'hey', 3, 4, 5]

In [116]:
list = ["hello", 1, 2, 3, 4, 5]

list.insert(6, "hey")
print(list)

list.pop(-3)
print(list)

list.remove(1)
print(list)

list.reverse()
print(list)

['hello', 1, 2, 3, 4, 5, 'hey']
['hello', 1, 2, 3, 5, 'hey']
['hello', 2, 3, 5, 'hey']
['hey', 5, 3, 2, 'hello']

In [1]:
list = [ 1, 2, 3, 4, 5]

list.sort(reverse=True)
print(list)

[5, 4, 3, 2, 1]

In [3]:
list = [ 1, 2, 3, 4, 5]
x = list.copy()

list

[1, 2, 3, 4, 5]

In [4]:
import copy

In [1]:
l = [ 1, 2, 3, 4, 5]
t = tuple(l)
print(type(t))

<class 'tuple'>

In [2]:
list(t)

[1, 2, 3, 4, 5]

In [11]:
l1 = 4+2j
print(type(l1))
l1 = str(l1)
l1

print(type(l1))

<class 'complex'>
<class 'str'>

In [13]:
dict1 = {'a':22, 'b':33, 'c':"hello"}
dict1

{'a': 22, 'b': 33, 'c': 'hello'}

In [27]:
a = ()
print(type(a))

<class 'tuple'>

In [28]:
x={1, 4, 5, 6, 2, 1}
print(x)

{1, 2, 4, 5, 6}

In [33]:
x = {"hello" , "banana", "apple" , 10000, 9999 , 999, 2}
x

{10000, 2, 999, 9999, 'apple', 'banana', 'hello'}

In [36]:
import copy
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]  
list2 = copy.copy(list1)  
  
list1.append([13, 14,15])  
  
print("first list:", list1)  
print("second list:", list2)

first list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]
second list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [39]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
y = copy.deepcopy(x)  
  
x[2][2] = 'Hello'  
print(x)  
print(y)

[[1, 2, 3], [4, 5, 6], [7, 8, 'Hello']]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
list1 = [1, 2, 4, 3]
list2 = copy.copy(list1)
list1.append(12)

print("first list:", list1)  
print("second list:", list2)

first list: [1, 2, 4, 3, 12]
second list: [1, 2, 4, 3]

In [43]:
list1 = [1, 2, 4, 3]
list2 = copy.deepcopy(list1)
list1.append(12)

print("first list:", list1)  
print("second list:", list2)

first list: [1, 2, 4, 3, 12]
second list: [1, 2, 4, 3]

In [46]:
list1 = [1, 2, 4, 3]
list2 = [4, 6, 7]
list1 = list2
print(list1)

[4, 6, 7]

In [47]:
# for shallow copy and deepcopy

In [57]:
# shallow copy
lst1 = [1,2,3,4]
lst2 = lst1.copy()

In [58]:
lst1, lst2

([1, 2, 3, 4], [1, 2, 3, 4])

In [59]:
lst2[1] = 2000
lst2

[1, 2000, 3, 4]

In [60]:
lst1

[1, 2, 3, 4]

In [61]:
# for nested list

lst1 = [[1,2,3,4,5],[6, 7, 8, 9, 10]]
lst2 = lst1.copy()

lst1[1][0] = 2000

In [62]:
lst1

[[1, 2, 3, 4, 5], [2000, 7, 8, 9, 10]]

In [63]:
lst2

[[1, 2, 3, 4, 5], [2000, 7, 8, 9, 10]]

In [65]:
lst1.append([2,4,5,3])
lst1

[[1, 2, 3, 4, 5], [2000, 7, 8, 9, 10], [2, 4, 5, 3]]

In [66]:
lst2

[[1, 2, 3, 4, 5], [2000, 7, 8, 9, 10]]

In [85]:
# deepcopy

import copy
lst1 = [1,2,3,4]
lst2 = copy.deepcopy(lst1)

In [86]:
lst2[1] = 2000
lst2

[1, 2000, 3, 4]

In [87]:
lst1

[1, 2, 3, 4]

In [88]:
#deepcopy in nested list

lst1 = [[1,2,3],[3,4,5],[5,6,7]]
lst2 = copy.deepcopy(lst1)

In [89]:
lst2[1][0] = 2000

In [90]:
lst2

[[1, 2, 3], [2000, 4, 5], [5, 6, 7]]

In [91]:
lst1

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]